
__debug_bin**
.DS_Store
**/main
/research
/protobuf/googleapis
/protobuf/types

# Ignore all tmp folders
**/tmp/
**/tmp/*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json


appointment-service/appointment-service
internal/property/bdspro-service
internal/chat/chat-service
internal/crm/crm-service
internal/file/file-service
api/gateway/gateway-service
internal/map-legacy/map-service
membership-service/membership-service
internal/notification/notification-service
internal/organization-legacy/organization-service
internal/payment/payment-service
internal/realtime-relay/relay-service
internal/search/search-service
internal/social/social-service
task-service/task-service
internal/user/user-service
